<header class="header">
  <div class="header-right">
    <button class="bell-icon"></button>
    <div class="vertical-rectangle"></div>
    <span class="greeting">Hi {{ (user$ | async)?.firstName }} {{ (user$ | async)?.lastName }}</span>

    <div class="avatar-container">
      <button class="avatar" (click)="toggleDropdown()">
        <img [src]="getAvatarUrl()" alt="User avatar">
      </button>
      <div class="dropdown-menu" *ngIf="isDropdownOpen">
        <div class="dropdown-text">{{ (user$ | async)?.username }}</div>
        <div class="long-line"></div>
<!--        <button class="dropdown-button" (click)="onLogout()">-->
        <button class="dropdown-button">
          <img src="/assets/svg/log-out.svg" alt="Log out icon" class="log-out-icon">
          Sign Out
        </button>


        <div class="short-line"></div>
      </div>
    </div>
  </div>
</header>
