@import 'src/assets/styles/style';

.login-page {
  width: auto;
  height: auto;
  min-height: 100vh;
  background-color: $background-color;
  background-image: url("/assets/svg/abstract-background-login-page.svg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  .dh-logo {
    background-image: url("/assets/svg/DH-word-logo.svg");
    width: 85px;
    height: 85px;
    margin-bottom: 20px;
  }

  .sign-in-text {
    color: $text-color;
    font-size: 24px;
  }

  .login-container {
    width: 350px;
    height: auto;
    background-color: $container-background-color;
    border-radius: 16px;
    padding: 10px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 18px;
    .forgot-password-text {
      margin-top: 15px;
      text-align: center;

      a {
        color: $secondary-text-color;
        text-decoration: underline;
        cursor: pointer;
        font-size: 14px;

        &:hover {
          text-decoration: none;
        }
      }
    }
    .email-text {
      width: 100%;
      text-align: left;
      color: $secondary-text-color;
      margin-bottom: 5px;
      margin-left: 30px;
      font-size: 14px;
    }
  }

  .login-other-social-media-container {
    width: 350px;
    height: auto;
    background-color: $container-background-color;
    border-radius: 16px;
    padding: 15px 20px 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    .sign-in-with-text {
      font-size: 12px;
      color: $tertiary-text-color;
      margin-bottom: 15px;
    }

    .account-creation-text {
      font-size: 12px;
      color: $tertiary-text-color;

      .create-account-link {
        color: $link-color;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .success-message {
    font-size: 12px;
    text-align: center;
    color: $success-message;
    background: $success-message-background-color;
    padding: 10px 45px;
    border-radius: 6px;
    margin-top: 10px;
  }

  .error-message-response {
    font-size: 12px;
    text-align: center;
    color: $error-message-response;
    background: $error-message-background-color;
    padding: 10px 25px;
    border-radius: 6px;
    margin-top: 10px;
    width: 270px;
  }

  .loading-message{
    font-size: 12px;
    text-align: center;
    color: $loading-message;
    background: $loading-message-background;
    padding: 10px 45px;
    border-radius: 6px;
    margin-top: 10px;
  }
}

.label-form {
  color: $secondary-text-color;
  font-size: 14px;
  margin-bottom: 5px;
  margin-top: 15px;
  align-self: flex-start;
  width: 100%;
  max-width: 280px;
}
