$background-color: rgba(20, 20, 20, 0.92);
$text-color: #ffffff;
$container-background-color: #333333;
$secondary-text-color: #999999;
$tertiary-text-color: #666666;
$link-color: #1b9ede;
$color-bg: #1A1A1A;
$background-view-color: #141414;

$success-message-background-color: rgba(0, 123, 64, 0.3);;
$success-message: #007B40;
$error-message-background-color: rgba(240, 61, 62, 0.3);
$error-message-response: #F03D3E;
$loading-message: #D84910;
$loading-message-background: rgba(216, 73, 16, 0.3);
$color-failed: #c9184a;
